/*

       REBUS

*/      

* {
    padding:0;
    margin:0;
    box-sizing: border-box;
}

/*

      GENERAL

*/

body{
    font-family: 'Fredoka', sans-serif;
}

.container{
        max-width: 1000px;
        margin:0 auto;
    }


/*

     DEBUG

*/
 /* .debug .float-container{ */
    /* border: 2px dashed red; */
 /* } */

 /*

      HEADER

*/    

.pink-color{
    color: #E62B6D;
    font-size: 25px;
    text-align: center;
}

.text{
    text-align: center;
    font-size: 12px;
    padding-top: 20px;
    padding-bottom: 10px;
}

/*

       MAIN

*/

.float-container{
    max-width: 1000px;
    margin: 0 auto;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}


.columns > *{
    float: left;
}

.image-container{
    height: 70px;
    float: left;
    padding-right: 10px;
}

.name-worker , .name-work{
    text-align: left; 
    color: white;
    padding-top: 5px;
    padding-bottom: 2px;
}

.email{
    color: #3FB3DE;
    font-size: 13px;
    text-align: left;
}

.single-column{
    background-color: #0F0E17;
    width: calc((100% / 3) - 50px);
    margin: 20px;
    height: 70px;

}



