/*

       REBUS

*/      

* {
    padding:0;
    margin:0;
    box-sizing: border-box;
}

/*

      GENERAL

*/

body{
    font-family: 'Fredoka', sans-serif;
}

.container{
        max-width: 1000px;
        margin:0 auto;
        padding: 30px;
}


/*

     DEBUG

*/
 .debug .float-container{
    border: 2px dashed red;
 }

 /*

      HEADER

*/    

.pink-color{
    color: #E62B6D;
    font-size: 25px;
    text-align: center;
}

.text{
    font-size: 13px;
    padding-top: 30px;
    padding-bottom: 30px;
}

/*

       MAIN

*/

.float-container{
    max-width: 1000px;
    margin: 0 auto;
    height:92px ;
    width: 883px;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.image-container{
    height: 70px;
    float: left;
}

.columns > *{
    float: left;
}

.name-worker , .name-work{
    text-align: left; 
    color: white;
}


.email{
    color: #3FB3DE;
    font-size: 13px;
    text-align: left;
}

.single-column{
    background-color: #0F0E17;
    background-size: 70px 70px;
    width: calc((100% / 3) - 70px);
    margin: 0;
    height: 70px;

}



